@media (max-width:768px) {
    nav{
        display: none !important;
    }
    .menu{
        display: block !important;
    }
    .hero-btn{
        width: 100%;
    }
    .hero-image{
        width: 100%;
    }
    
}